# This file includes global variables that will be available inside your project
# In the app.py file, you can access the variable by importing os and then using print(os.getenv('VARIABLE_NAME'))

CLIENT_ID=960d006924bf47228b601d89a4146cb8
CLIENT_SECRET=fa3f2756d8284c059290c0a39b3c3a34